#barsmenu {
  display: none;
}

.hamburger-nav {
  font-size: 23px;
  list-style-type: none;
  display: none;
}

.hamburger-nav a {
  text-decoration: none;
  color: #fff;
  background-color: #9a9a9a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 1px solid #fff;
}
.hamburger-nav .active {
  background-color: orangered;
}

@media only screen and (max-width: 600px) {
  #barsmenu {
    display: block;
    margin-right: 20px;
  }

  .nav-left .kiwo,
  .nav-right .kana {
    display: none;
  }
}
